In [4]:
import sys,os; sys.path.insert(0,os.path.abspath('../cadence/'))
import cadence as cd
from cadence.imports import *

In [5]:
t = cd.Text("Hello my little world of words and many syllables")

In [6]:
dickens="""When the day broke, it blew harder and harder. I had been | in Yar|mouth when | the sea|men said it blew | great guns, | but I | had ne|ver known the like | of this, | or a|nything | approach|ing to it. | We came | to Ips|wich—ve|ry late, having | had to | fight ev|ery inch | of ground since we | were ten | miles out | of London;""".replace('|','')
print(dickens)

When the day broke, it blew harder and harder. I had been  in Yarmouth when  the seamen said it blew  great guns,  but I  had never known the like  of this,  or anything  approaching to it.  We came  to Ipswich—very late, having  had to  fight every inch  of ground since we  were ten  miles out  of London;

In [7]:
para = cd.Prose(dickens).para(1)

In [61]:
def parse_iter_slices(self, n=8, exclude_bounded=True, **kwargs):
    slices = list(self.iter_slices(n=n))
    for si,sdf in enumerate(tqdm(slices, desc='Parsing slices')):
        wdf=sdf.drop_duplicates('word_i')
        # yield sdf
        osdf=parse_combo2(sdf, exclude_bounded=exclude_bounded, **kwargs)
        osdf['slice_i']=si+1
        osdf['slice_str'] = ' '.join(wdf.word_str)
        osdf['slice_ipa'] = ' '.join(wdf.word_ipa)
        osdf=osdf.reset_index().set_index(['slice_i','slice_str','slice_ipa'] + list(osdf.index.names))
        yield osdf

def parse_slices(self, n=8, exclude_bounded=True, **kwargs):
    return concatt(self.parse_iter_slices(n=n, exclude_bounded=exclude_bounded, **kwargs))

TextModel.parse_iter_slices = parse_iter_slices
TextModel.parse_slices = parse_slices

In [65]:
txt=cd.Verse("a horse a horse my kingdom for a horse")
for cdf in txt.iter_combos(): pass
cdf

        unit_i  sent_i  sentpart_i  ...  word_ispunc  prom_stress combo_i
slot_i                              ...
1            1       1           1  ...            0          0.0       1
2            1       1           1  ...            0          1.0       1
3            1       1           1  ...            0          0.0       1
4            1       1           1  ...            0          1.0       1
5            1       1           1  ...            0          0.0       1
6            1       1           1  ...            0          1.0       1
7            1       1           1  ...            0          0.0       1
8            1       1           1  ...            0          0.0       1
9            1       1           1  ...            0          0.0       1
10           1       1           1  ...            0          1.0       1

[10 rows x 21 columns]

In [68]:
parse_combo2(cdf, exclude_bounded=False)

                                                                        *w_peak  ...  *total
parse_rank parse_total parse_i parse      bounded_by slot_i slot_meter           ...
1          1.0         1       wSwSwSwSwS            1      w               0.0  ...     0.0
                                                     2      s               0.0  ...     0.0
                                                     3      w               0.0  ...     0.0
                                                     4      s               0.0  ...     0.0
                                                     5      w               0.0  ...     0.0
...                                                                         ...  ...     ...
178        12.0        60      wwSwSwSSww SSwwSwSwSw 6      w               1.0  ...     2.0
                                                     7      s               0.0  ...     1.0
                                                     8      s               0.0  ...     2.0
                                                     9      w               0.0  ...     0.0
                                                     10     w               0.0  ...     2.0

[1780 rows x 6 columns]

In [53]:
odf=cd.Verse("""That time of year thou mayst in me behold
When yellow leaves, or none, or few, do hang
Upon those boughs which shake against the cold,
Bare ruined choirs, where late the sweet birds sang.
In me thou see'st the twilight of such day
As after sunset fadeth in the west;
Which by and by black night doth take away,
Death's second self, that seals up all in rest.
In me thou see'st the glowing of such fire,
That on the ashes of his youth doth lie,
As the death-bed, whereon it must expire,
Consumed with that which it was nourish'd by.
This thou perceiv'st, which makes thy love more strong,
To love that well, which thou must leave ere long.""").parse_slices(n=8, exclude_bounded=False)

Parsing slices:   0%|          | 0/33 [00:00<?, ?it/s]

In [54]:
odf

                                                                                                                                                                        *w_peak  ...  *total
slice_i slice_str                                        slice_ipa                                parse_rank parse_total parse_i parse    bounded_by slot_i slot_meter           ...
1       That  time  of  year  thou  mayst  in  me        'ðæt 'taɪm ʌv 'jɪr ðaʊ 'meɪst ɪn miː     1          1.0         57      SSwSwSww            1      s               0.0  ...     0.0
                                                                                                                                                     2      s               0.0  ...     1.0
                                                                                                                                                     3      w               0.0  ...     0.0
                                                                                                                                                     4      s               0.0  ...     0.0
                                                                                                                                                     5      w               0.0  ...     0.0
...                                                                                                                                                                         ...  ...     ...
33       that  well  which  thou  must  leave  ere  long 'ðæt 'wɛl 'wɪʧ ðaʊ 'məst 'liːv 'ɛr 'lɔːŋ 68         11.0        31      wwSSwSww SSwwSwSw   7      s               0.0  ...     2.0
                                                                                                                                                     8      w               1.0  ...     2.0
                                                                                                                                                     9      s               0.0  ...     0.0
                                                                                                                                                     10     w               0.0  ...     1.0
                                                                                                                                                     11     w               0.0  ...     2.0

[17952 rows x 6 columns]